@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');




:root{
    /* COLORS */
    --BGCOLOR: linear-gradient(90deg, #fde9ca, #ffe4ab);
    --PRIMARYCOLOR:#fff;
    --SECONDARYCOLOR: #fff;
    --TERTIARYCOLOR: #fff;
    --ACCENTCOLOR: #0544ff;
    --FONTCOLOR: #130b00;
    --LINKCOLOR: #fff;
    --NAVCOLOR: #daa520;
    --HEADINGSCOLOR: goldenrod;
    --TEXTHIGHLIGHTCOLOR: var(--NAVCOLOR);
    --DARKMODECOLOR: #0000ff;
    
    /* GENERAL RULESETS */
    --HEADERSIZE: clamp(1rem, 1vw, 2rem);
    --BOXSHADOW: 0 12px 25px rgba( 0, 0,0 ,.15);
}

/* RESETS */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    max-width: 1440px;
    min-height: 100vh;
    margin: auto;
    background-image: var(--BGCOLOR);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--FONTCOLOR);
    transition: background-color .3s ease;
    
}

img{
    display: block;
    width: 100%;
    height: auto;
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, .333); */
}

h1,
h2,
h3,
h4{
    color: var(--HEADINGSCOLOR);
    text-shadow: 0 1px 1px rgba(0, 0, 0, .333);
}

a{
    text-decoration: none;
    color: var(--ACCENTCOLOR);
    padding: .3rem .5rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .333);
}

ul{
    list-style-type: none;
    color: var(--ACCENTCOLOR);
}

button{
    box-shadow: 0 3px 5px rgba(0, 0, 0, .333);
}

/* UTILITY CLASSES */

.nowrap{
    white-space: nowrap;
}

.displaynone{
    display: none;
}

/* .indent{
    padding-left: 2rem;
} */

/* ||HEADER */
.header{
    background-color: var(--NAVCOLOR);
    font-family: Oswald, sans-serif;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 12px 5px rgba(0, 0, 0, .1);
}

.nav{
    padding: clamp(.5rem, 1vw, .3rem) 0;
    display: grid;
    grid-template-columns: 1fr 7fr;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
}

.nav__logo{
    width: clamp(1.33rem, 2vw, 2rem);
    justify-self: center;
    align-self: center;
}

.nav__ul{
    display: flex;
    justify-content: space-around;

}

.nav__ul li{

}

.nav__ul li a{
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .333);

}


/* Date */
.date__section{
    position: absolute;
    /* background-color: var(--NAVCOLOR); */
    color: var(--ACCENTCOLOR);
    padding: 1rem 0 0 1rem;
    
}

.calendar{
    background-color: var(--NAVCOLOR);
    /* width: 150px; */
    display: flex;
    justify-content: space-around;
    gap: 5px;
    padding: 5px;
    border-radius: 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .333);
}

.date, .month{
    font-weight: 600;
    font-size: 1.1rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .333);
}


/* Dark Mode Toggle */
.toggle{
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1rem 0 0;
    position: relative;
    
}

.toggle__checkbox{
    visibility: hidden;
}

.toggle__label{
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: var(--NAVCOLOR);
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .333);
}

.toggle__circle{
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: var(--ACCENTCOLOR);
    border-radius: 50%;
    /* animation: toggleLight .3s ease forwards; */
}

.toggle__checkbox:checked + .toggle__label{
    background-color: black;
}
.toggle__checkbox:checked + .toggle__label .toggle__circle{
    animation: toggleDark .3s ease forwards;
    
}


@keyframes toggleDark{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(30px);
    }

}

@keyframes toggleLight{
    0%{
        transform: translateX(30px);
    }

    100%{
        transform: translateX(0);
    }
}




/* HERO SECTION */
.hero{
    position: relative;
}

.hero__h1{
    font-size: clamp(5rem, 14vw, 10rem);
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 16%;
    transform: translateX(-50%);
    text-shadow: 0 2px 5px rgba(0, 0, 0, .333);
}

.hero__a{
    text-align: center;
    font-size: clamp(1.3rem, 2vw, 1.7rem);
    font-weight: 600;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--TEXTHIGHLIGHTCOLOR);
    background-color: var(--ACCENTCOLOR);
    padding: clamp(.5rem, 1vw, 1rem) clamp(.7rem, 1vw, 1.5rem);
    border-radius: 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .333);
    text-shadow: 0 1px 2px rgba(0, 0, 0, .333);

}

/* COPY SECTION */
.copy{
    padding: .5rem;
    
}

.copy__p1, .copy__p2{
    font-size: 1.1rem;
    line-height: clamp(1.2rem, 3vw, 2.5rem);
}



/* OUR DESIGNS */

.designs{
    padding: .5rem;
}

.designs__h2{
    text-align: center;
    margin: 0 0 1rem 0;
}

.designs__image-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: .3rem;
    grid-template-areas:
    "img1 img2"
    "img1 img3"
    "img4 img3"
    "img5 img5";
}



.designs__image-container img{
    border-radius: 2%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .333);
}

.design1, 
.design2, 
.design3, 
.design4, 
.design5{
    position: relative;
}

.design1 a, 
.design2 a, 
.design3 a, 
.design4 a, 
.design5 a{
    color: var(--ACCENTCOLOR);
    text-decoration: underline;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 183, 0, 0.424);
    padding: .3rem .5rem;
    border-radius: 5%;
    font-size: .8rem;
}

.design1__img, .design2__img, .design3__img, .design4__img, .design5__img{
    filter: brightness(87%);
}

.design1{
    grid-area: img1;
}

.design2{
    grid-area: img2;
}
.design3{
    grid-area: img3;
}

.design4{
    grid-area: img4;
}
.design5{
    grid-area: img5;
}
.designs__p{
    margin: .5rem 0 0 0;
}



/* TESTIMONIALS */
.testimonials{
    padding: .5rem;
    margin: 0 0 2rem 0;
}

.testimonials__h2{
    text-align: center;
    margin:0 0 1rem 0 ;
}


.testimonials__container{
    display: flex;
    justify-content: center;

}

.client__card{
    border: 2px solid var(--NAVCOLOR);
    width: max(300px, 40vw);
    padding: .5rem;
    border-radius: 5%;
    /* max-width: 90%; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, .333);
    
}

.client__card-img{
    border-radius: inherit;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .333);
   
}

.client__card-h3{
    text-align: center;
    margin: .6rem 0;
    
    

}

.rating{
    display: flex;
    justify-content: center;
}

.star{
    width: 30px;
}


/* FOOTER */

.footer{
    font-family: Oswald, serif;
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    color: var(--ACCENTCOLOR);
    background-color: var(--NAVCOLOR);
}

.footer__small{
    background-color: var(--NAVCOLOR);
    display: block;
    text-align: center;
    padding: .5rem 0;
}




/* ||PRODUCTS PAGE */
.searchbar{
    /* background-color: red; */
    padding: clamp(1rem, 2vw, 1.5rem);
    display: flex;
    justify-content: center;
    width: 100%;
}

.searchbar__input{
    font-family: inherit;
    padding: clamp(.5rem, 2vw, 1rem) clamp(1rem, 2vw, 2rem);
    font-size: 1.05rem;
    border: 2px solid var(--ACCENTCOLOR);
    border-radius: clamp(.2rem, 2vw, 7rem);
    width: 100%;  
    color: var(--ACCENTCOLOR);
    caret-color: var(--ACCENTCOLOR);
}

.searchbar__input::placeholder{
    color: var(--ACCENTCOLOR);
}


/* Top rated Section */
.popular, 
.products{
    padding: .5rem;
}

.popular__h2, 
.products__h2{
    text-align: center;

}

.popular-container, 
.products__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    /* grid-template-columns: 1fr 1fr; */
    gap: .3rem;
}



.popular__card, 
.products__card{
    border: 2px solid var(--NAVCOLOR);
    border-radius: 5%;
    padding:  .3rem;
}

.popular__card img, 
.products__card img{
    border-radius: clamp(.5rem, 2vw, 1rem);
}

.popular__card h3, 
.products__card h3{
    text-align: center;
    margin: .5rem 0 .5rem 0;
}

.popular__card-clickables, 
.products__card-clickables{
    font-family: inherit;
    background-color: var(--NAVCOLOR);
    border-radius: 0 0 clamp(.5rem, 2vw, 1rem) clamp(.5rem, 2vw, 1rem);
    padding: .2rem;
    display: flex;
    justify-content: space-around;
    font-weight: 600;

}

.popular__card-clickables a, 
.products__card-clickables a{
   
}

.popular__card-clickables button, 
.products__card-clickables button{
    border: 1px solid var(--NAVCOLOR);
    color: var(--NAVCOLOR);
    background-color: var(--ACCENTCOLOR);
    padding: .3rem .5rem;
}



/* ||ABOUT PAGE */
/* History */
.history{
    padding: .5rem;
}

.history__h2{
    text-align: center;
}

.history__p1,
.history__p2,
.history__p3{
    padding: 0.5rem 0 .5rem 0;
}

.history__figure{

}

.history__figure img{
    border-radius: 5%;
}

.history__figure figcaption{
    font-weight: 300;
    font-size: .8rem;
    color: var(--ACCENTCOLOR);
}

/* OUR TEAM */
.team{
    padding: .5rem;  
}

.team__h2{
    text-align: center;
    padding: 0 0 .5rem 0;
    
}

.team__cards-container{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    
    gap: clamp(.4rem, 1vw, .7rem);  
}

.team__card{
    padding: .2rem;
    border: 2px solid var(--NAVCOLOR);
    border-radius: clamp(.4rem, 2vw, 2rem);
    background-color: var(--BGCOLOR);
}

.team__card img{
    border-radius: inherit;
}

.team__card-text{
    display: flex;
    flex-flow: column nowrap;

}

.team__card-text :is(h4, h3, p){
    text-align: center;
}




/* ||CONTACTS PAGE */

/* Contacts Section */
.contacts{
    padding: .5rem;

}

.contacts__figure{
    padding: .5rem;
}

.contacts__figure img{
    border-radius: 2%;
}

.contacts__figure figcaption{
    font-weight: 300;
    font-size: .8rem;
    color: var(--ACCENTCOLOR);
}

/* Working Hours */
.hours{
    text-align: center;
    margin-bottom: 1rem;
}

.hours__h2{
    text-align: center;
}

.hours__ul li{
    color: var(--FONTCOLOR);
    font-weight: 600;
    
}



/* Addresses Area*/
.address__h2{
    text-align: center;
}


.address{
    text-align: center;
}



/* Contact Form */
.form__h2{
    text-align: center;
}

.form {
    padding: clamp(.2rem, 1vw, 1rem);
    font-family: inherit;
}

.form__fieldset{
    border: 2px solid var(--NAVCOLOR);
    border-radius: 1%;
}

.form__legend{
    display: none;
}

.form__name-p, .form__email-p ,.form__comment-p{
    padding: clamp(.5rem, 1vw, 1rem);
    font-size: clamp(1.2rem, 2vw, 1.7rem);
    font-weight: 600;
}


.form__name-p input, .form__email-p input, .form__comment-p textarea{
    width: 100%;
    padding: clamp(.6rem, 1vw, 1rem);
    border: 2px solid var(--NAVCOLOR);
    border-radius: clamp(.3rem, 1vw, 1rem);
    font-family: inherit;
    /* background-color: var(--TERTIARYCOLOR); */
}
.form__comment-p{
    padding: clamp(.5rem, 1vw, 1rem);
    width: 100%;
}

.form__button{
    padding: clamp(.5rem, 1vw, .1rem) clamp(.8rem, 1vw, 1.3rem);
    margin: clamp(.6rem, 1vw, 1rem) 0 clamp(1rem, 1vw, 1.5rem) 0;
    background-color: var(--ACCENTCOLOR);
    border: 1px solid var(--NAVCOLOR);
    color: var(--NAVCOLOR);
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: .3rem;
} 


/*SOCIALS */
.socials__h2{
    text-align: center;
}

.socials{
    /* margin: 1rem; */
}

.socials-ul{
    display: flex;
    justify-content: space-around;

}

.socials-ul li img{
    width: 30px;

}


/* Media Queries */
@media (min-width: 480px){
    /* Products Page */
    .popular-container, 
    .products__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    /* grid-template-columns: 1fr 1fr; */
    gap: .3rem;
    }

    /* About Page */
    .team__cards-container{
        display: grid;
        /* grid-template-columns: 1fr; */
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        gap: clamp(.4rem, 1vw, .7rem);  
    }

}


@media ( min-width: 672px){
    /* Home Page */
    .main__home{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: .5rem;
        gap: .5rem;
    }

    

    .hero__h1{
        top: -7%;
        left: 100%;
    }

    .hero__a{
        bottom: 7%;
        left: 150%;
    }

    .copy{
        /* background-color: darkslategrey; */
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        /* background-color: var(--NAVCOLOR); */
        z-index: -2;
        /* box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5); */
    }

    .design5 {
        display: none;
    }

    /* Products Page */

    .popular-container, 
    .products__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: 1fr 1fr; */
    gap: .5rem;
    }

    .popular-card, 
    .products__card{
        padding: .5rem;
    }


    /* About Page */
    .team__cards-container{
        display: grid;
        /* grid-template-columns: 1fr; */
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: clamp(.4rem, 1vw, .7rem);  
    }

    /* Products Page */

    /* Contacts Page */
    .working__address{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}



/* 878PX */
@media( min-width: 878px){
    /* Home Page */
    /* .copy__p{
        background-color: rgba(252, 238, 203, 0.003);
        padding: 2rem;
        border-radius: 5%;
        box-shadow: 0 12px 25px rgba(0, 0, 0, 0.015);
    
    } */
    .copy__p1, .copy__p2{
        /* width: 20ch; */
        /* line-height: 2rem; */
    }

    .displaynone{
        display: block;
    }

    /* About Page */
    .history{
        display: grid;
        gap: .5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: history;
    }

    .history__h2{
        grid-column: 1/3;
        grid-row: 1/2;
        margin-bottom: 1rem;
    }

    .history__p1, 
    .history__p2, .history__p3{
        text-align: start;
    }

    .history__p1{
        grid-column: 1/2;
        width: clamp(35ch, 35vw, 50ch);
        line-height: 2.5rem;
        /* background-color: red; */
        align-self: top;
        justify-self: center;

    }

    .history__figure1{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .history__p2{
        grid-column: 2/3;
        width: 30ch;
        line-height: 2.5rem;
        align-self: top;
        justify-self: center;
    }

    .history__figure2{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .history__p3{
        grid-column: 1/3;
        align-self: top;
        justify-self: center;
        line-height: 2rem;
    }


    
}


@media(min-width: 1024px){
    /* Home Page */
    .copy__p1, .copy__p2{
        width: 40ch;
        /* line-height: 2.5rem; */
    }

    .hero__h1{
        top: -2%;
    }
}